@import ../../main_styles/variables
footer
  height: 20vh
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  border-top: 1px solid black
  margin-top: 80px
  background: #0d2775
  .iconsContainer
    width: 65%
    display: flex
    justify-content: space-around
  .fab:hover
    transition: all .4s linear
    text-decoration: none
    color: white
    transform: scale(1.1)
  .fab
    transition: all .4s linear
    text-decoration: none
    transform: scale(1.1)
    font-size: 40px
    color: white
    margin: 0 auto
    height: 70px
    width: 70px
    display: flex
  .fa-instagram:hover
    background: #ff8839
  .fa-github:hover
    background: #007bff
  .fa-linkedin:hover
    background: #0131aa
  .fa-whatsapp:hover
    background: #00a300


.btn-1
  font-weight: 100

  svg
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%

  rect
    fill: none
    stroke: #fff
    stroke-width: 2
    stroke-dasharray: 0, 310
    transition: all 0.35s linear

.btn-1:hover
  letter-spacing: 1px
  rect
    stroke-width: 5
    stroke-dasharray: 422, 0
    stroke-dashoffset: 48
    transition: all 1.5s cubic-bezier(0.19, 0.5, 0.22, 0.5)

@media (max-width: 460px)
  footer
    .iconsContainer
      width: 90%
      .fab
        font-size: 25px
      a
        width: 50px
        height: 50px

